<footer class="bg-dark p-0 m-0 text-light">
    <!-- Include your footer content here -->
    <!-- Example: -->
    <div class="d-flex justify-md-content-center align-items-center align-items-md-start justify-content-around flex-column flex-md-row  py-4" >
      <div class="text-center text-md-start my-3">
        <p class="text-secondary md-fs-5">Connect With Us</p>
        <div class="">
          <a class="text-decoration-none text-white d-flex align-items-center">
            <i style="margin-right: 10px; font-size: xx-large;" class='  bx bxl-facebook-circle' ></i>
            <p>Arun Art Exports</p>
          </a>
          <a href="https://instagram.com/arunartexpo?igshid=ZzQzbWdwbjV1dndn" class="text-decoration-none text-white d-flex -items-center">
            <i style="margin-right: 10px; font-size: xx-large;" class=' bx bxl-instagram-alt' ></i>
            <p>arunartexpo</p>
          </a>
          <a href="https://instagram.com/arunartexpo?igshid=ZzQzbWdwbjV1dndn" class="text-decoration-none text-white d-flex  align-items-center">
            <i style="margin-right: 10px; font-size: xx-large;" class=' bx bxl-twitter' ></i>
            <p>arunartexpo</p>
          </a>
          
        </div>
      </div>
      <div class="text-center text-md-start my-3">
        <p class="text-secondary md-fs-5">Location</p>
        <p class="p-0 m-0">Jodhpur, Rajasthan</p>
      </div>
      <div class="text-center text-md-start my-3">
        <p class="text-secondary md-fs-5">Support</p>
        <p class="p-0 m-0">+91 978388755</p>
        <p class="p-0 m-0">arun@gmail.com</p>
      </div>
      
    </div>
    <div class="text-center " style="background-color: black;">
      <p class="p-2 m-0 fs-5">&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </footer>
  