{% extends 'base.html' %}
{% load static %}


{% block title %}Product - Your Website{% endblock %}

{% block content %}
<style>
  .backg:hover {
    /* border-radius: 50px; */
    /* background: #e0e0e0; */
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 14px 14px 22px #b0b0b0,
      -14px -14px 22px #ffffff;

    transition: .2s;
  }



  .inputbox {
    position: relative;
    width: 196px;
  }

  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }

  .inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }

  .inputbox input:valid~span,
  .inputbox input:focus~span {
    color: #a56a44;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0, 75em;
  }

  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a56a44;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  .inputbox input:valid~i,
  .inputbox input:focus~i {
    height: 44px;
  }

  .selectBox {
    position: relative;
    width: 196px;
  }

  .selectBox select {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #a56a44;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }

  .selectBox select option:hover {
    /* background-color: aqua; */
    background-color: #a56a44;
    color: white;
  }

  .selectBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
  }

  .selectBox select:valid~span,
  .selectBox select:focus~span {
    color: #a56a44;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0, 75em;
  }

  .selectBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #a56a44;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
  }

  /* 
.selectBox select:valid ~i,
.selectBox select:focus ~i {
  height: 44px;
} */



  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

  /*-- VARIABLES CSS--*/
  /*Colores*/
  :root {
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
    --theme-color: #a56a44;
  }

  /*Tipografia responsive*/
  :root {
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
  }

  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 2rem;
      --normal-font-size: 1rem;
      --smaller-font-size: 0.813rem;
    }
  }

  /*-- BASE --*/
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  body {
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
  }

  h1 {
    font-size: var(--h1-font-size);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  /*-- LAYAOUT --*/
  .main {
    padding: 2rem 0;
  }

  .bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
  }

  /*-- PAGES --*/
  .title-shop {
    position: relative;
    margin: 0 2.5rem;
  }

  .title-shop::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
  }

  /*-- COMPONENT --*/
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #eeeeee;
  }

  /* article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
} */


  .card__img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
  }

  .card__name {
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
  }

  .card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
  }

  .card__icon:hover {
    color: var(--accent-color);
  }

  .card__precis {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
  }

  .card__preci {
    display: block;
    text-align: center;
  }

  .card__preci--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
  }

  .card__preci--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
  }

  /*Move left*/
  .card:hover {
    box-shadow: 0 .5rem 1rem #D1D9E6;
  }

  .card:hover .card__name {
    left: 0;
  }

  .card:hover .card__img {
    transform: rotate(30deg);
    margin-left: 3.5rem;
  }

  .card:hover .card__precis {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
  }

  /*-- MEDIA QUERIES --*/
  @media screen and (min-width: 1200px) {
    body {
      margin: 3rem 0 0 0;
    }

    .title-shop {
      margin: 0 5rem;
    }

    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<!-- <link rel="stylesheet" href="{% static 'css/cards.css' %}"> -->

<section class="product-section bg-light;" style="margin-top: 70px;">
  <div class="container">
    <h1 class="" style="color: #a56a44;">PRODUCTS</h1>
    <!-- Swiper -->
    <!-- <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2>Living Room Furniture</h2>

          {% for e in random_data_items %}

          <div class="" style="width: 18rem;">
            {% with e.images.first as first_image %}
            {% if first_image %}
            <img src="{{ first_image.image.url }}" class=" image-field" alt="Product Image">
            <h5 class="">{{e.name}}</h5>
            {% endif %}
            {% endwith %}

          </div>



          {% endfor %}

        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div> -->
    <!-- Swiper end-->


    <div class="d-flex justify-content-end">
      <h2 class="" style="color: #a56a44;">FILTER</h2>
    </div>
    <div class="d-flex justify-content-end">
      <div class="selectBox mx-2">
        <!-- <label for="">select Category</label> -->
        <select name="category" id="dataCategory" class="" onchange="searchCategory()">
          <option value=""></option>
          <option value="Living Room Furniture">Living Room Furniture</option>
          <option value="Dining & Kitchen Furniture">Dining & Kitchen Furniture</option>
          <option value="Bar Furniture">Bar Furniture</option>
          <option value="Bedroom Furniture">Bedroom Furniture</option>
          <option value="Mattresses">Mattresses</option>
          <option value="Kid Furniture">Kid Furniture</option>
          <option value="Study & Office Furniture">Study & Office Furniture</option>
          <option value="Accent Furniture">Accent Furniture</option>
          <option value="Shoe Racks">Shoe Racks</option>
          <option value="Book Shelves">Book Shelves</option>
          <option value="Outdoor Furniture">Outdoor Furniture</option>
          <option value="Outdoor Furniture">New Arrivals</option>
          <!-- Add more options as needed -->
        </select>
        <!-- <span for="">select Category</span> -->
        <i></i>

      </div>
      <!-- <div  class="col-6 form-group d-flex">
        <label for="">Search</label>
        <input id="searchInput" type="text" class="form-control" placeholder="Search" onInput="search()" />
      </div>
       -->

      <div class="inputbox">
        <input required="required" id="searchInput" onInput="search()" type="text" />
        <span>Search</span>
        <i></i>
      </div>




    </div>
    <hr>
    <div class="row d-flex justify-content-center justify-content-md-start " id="dataList">
      {% for e in data %}

      <div class="backg col-4 m-md-3 m-1 card" style="width: 18rem; padding: 0px;">
        <div class="row g-0">

          {% with e.images.first as first_image %}
          {% if first_image %}
          <div class="col-4 col-md-12">
            <img src="{{ first_image.image.url }}" class="card-img-top image-field" alt="Product Image">
          </div>
          {% endif %}
          {% endwith %}

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{e.name}}</h5>
              <a href="/product/{{e.id}}" class="btn text-light " style="background: #a56a44;">View</a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}



      <!-- rotatable card  -->

      <!-- <main class="main bd-grid">
        {% for e in data %}
        <a href="/product/{{e.id}}" style="color: white;">
          <article class="card">
            <div class="card__img">
              {% with e.images.first as first_image %}
              {% if first_image %}
              <img class="rounded" src="{{ first_image.image.url }}" alt="">
              {% endif %}
              {% endwith %}
            </div>
            <div class="card__name">

              <p>View</p>
            </div>
            <div class="card__precis">
              <div>

                <span class="card__preci card__preci--now">{{e.name}}</span>
              </div>
            </div>
          </article>
        </a>
        {% endfor %}
      </main> -->

    </div>
  </div>





</section>


<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


<script>


  let searchInput = document.getElementById("searchInput");


  function search() {
    var data
    $.ajax({
      type: "GET",
      url: "/jsonProductdata",
      success: function (res) {
        data = res;
        console.log(data);

        var searchInputVal = searchInput.value;
        console.log(searchInputVal)
        let filteredData = data.products.filter((e) => {

          // return e.name.includes(searchInputVal);
          const searchTerm = searchInputVal.toLowerCase(); // Convert to lowercase for case-insensitive matching

          const nameMatch = e.name.toLowerCase().includes(searchTerm);
          const descriptionMatch = e.desc.toLowerCase().includes(searchTerm);
          const productCodeMatch = e.product_code.toLowerCase().includes(searchTerm);

          return nameMatch || descriptionMatch || productCodeMatch;



        });
        let showInHtml
        if (filteredData.length > 0) {
          showInHtml = filteredData.map((e, index) => {
            return `
        
              <div class="backg col-4 m-3 card" style="width: 18rem; padding: 0px;">
                <div class="row g-0">
                
                  <div class="col-4 col-md-12">
                    <img src="${e.image}" class="card-img-top image-field" alt="Product Image">
                  </div>
                
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title">${e.name}</h5>
                    
                      <a href="/product/${e.id}" class="btn text-light " style="background: #a56a44;">View</a>
                    </div>
                  </div>
                </div>
              </div>
            `;
          }).join('');
        } else {
          showInHtml = "<p>No Result found</p>";
        }
        var listDiv = document.getElementById("dataList");
        listDiv.innerHTML = showInHtml;
      },
      error: function (error) {
        console.log(error);
      },
    });

  }



  function searchCategory() {
    var category = document.getElementById("dataCategory");
    console.log(category.value);

    var data
    $.ajax({
      type: "GET",
      url: "/jsonProductdata",
      success: function (res) {
        data = res;
        let filteredData
        if (category.value != "") {
          filteredData = data.products.filter((e) => {
            return e.category == category.value;
          });
        }
        else {
          filteredData = data.products;
        }

        let showInHtml
        if (filteredData.length > 0) {
          showInHtml = filteredData.map((e, index) => {
            return `
        
          <div class="backg col-4 m-3 card" style="width: 18rem; padding: 0px;">
        <div class="row g-0">

          <div class="col-4 col-md-12">
            <img src="${e.image}" class="card-img-top image-field" alt="Product Image">
          </div>

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">${e.name}</h5>
            
              <a href="/product/${e.id}" class="btn text-light " style="background: #a56a44;">View</a>
            </div>
          </div>
        </div>
      </div>


        `;
          }).join('');
        } else {
          showInHtml = "<p>No Result found</p>";
        }
        var listDiv = document.getElementById("dataList");
        listDiv.innerHTML = showInHtml;
      },
      error: function (error) {
        console.log(error);
      },
    });

  }



  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });


</script>
{% endblock %}